<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nhibernateSettings"

       type="Sebalance.OpenSessionInViewSection, 
                 Sebalance" />
  </configSections>
  <nhibernateSettings>
    <!-- List every session factory that will be needed; 
             transaction management and closing sessions 
        will be managed with an open-session-in-view HTTP module -->
    <sessionFactories>
      <clearFactories />
      <sessionFactory name="sebalanceDB"

          factoryConfigPath=".\Sebalance.config"

          isTransactional="true" />
      </sessionFactories>
  </nhibernateSettings>
</configuration>